examples/wago kbus example.json
[
  {
    "id": "ac0bdad3.012828",
    "type": "kbus in",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "topic": "WAGO-PFC",
    "qos": "0",
    "broker": "9b7f91e1.3c179",
    "ignoreempty": true,
    "removemqttconfig": false,
    "x": 290,
    "y": 240,
    "wires": [[], ["7980775d.a84a28"]]
  },
  {
    "id": "4e727c00.02be44",
    "type": "debug",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 610,
    "y": 260,
    "wires": []
  },
  {
    "id": "7980775d.a84a28",
    "type": "analog input",
    "z": "f6f2187d.f17ca8",
    "module": "3",
    "channel": "1",
    "name": "",
    "sensorType": "4-20mA",
    "resolution": "12_Bit",
    "selectedProcess": "Raw",
    "low": "0",
    "high": "1000",
    "precision": "2",
    "x": 450,
    "y": 260,
    "wires": [["4e727c00.02be44"]]
  },
  {
    "id": "d486b124.68fb8",
    "type": "analog output",
    "z": "f6f2187d.f17ca8",
    "module": "5",
    "channel": "1",
    "name": "",
    "sensorType": "0-10VDC",
    "resolution": "12_Bit",
    "selectedProcess": "SensorVal",
    "low": "0",
    "high": "1000",
    "x": 760,
    "y": 300,
    "wires": [["8575f00d.63bf1"]]
  },
  {
    "id": "d68b7720.65abe8",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "func": "msg.payload = msg.payload / 2;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 600,
    "y": 300,
    "wires": [["d486b124.68fb8"]]
  },
  {
    "id": "8575f00d.63bf1",
    "type": "kbus out",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "topic": "WAGO-PFC",
    "qos": "0",
    "broker": "9b7f91e1.3c179",
    "ignoreempty": true,
    "removemqttconfig": false,
    "x": 930,
    "y": 300,
    "wires": []
  },
  {
    "id": "18830060.4b726",
    "type": "digital output",
    "z": "f6f2187d.f17ca8",
    "module": "2",
    "channel": "1",
    "name": "",
    "x": 770,
    "y": 340,
    "wires": [["8575f00d.63bf1"]]
  },
  {
    "id": "bc840ecb.6f9d5",
    "type": "inject",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "x": 610,
    "y": 340,
    "wires": [["18830060.4b726"]]
  },
  {
    "id": "830a9f7d.4cd71",
    "type": "inject",
    "z": "f6f2187d.f17ca8",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "false",
    "payloadType": "bool",
    "x": 610,
    "y": 380,
    "wires": [["18830060.4b726"]]
  },
  {
    "id": "9b7f91e1.3c179",
    "type": "mqtt-broker",
    "name": "",
    "broker": "192.168.1.226",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "sessionExpiry": ""
  }
]
